<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ElasticSearchManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  
    <appSettings>
    </appSettings>
  
    <connectionStrings>

      <add name="stage" connectionString="http://10.147.31.49:9200,http://10.147.31.51:9200,http://10.147.31.52:9200,http://10.147.31.53:9200,http://10.147.31.54:9200,http://10.147.31.55:9200"/>
      <add name="prod" connectionString="http://10.147.21.109:9200,http://10.147.21.110:9200,http://10.147.21.111:9200,http://10.147.21.112:9200,http://10.147.21.113:9200,http://10.147.21.114:9200"/>

      <add name="newprod" connectionString="http://10.50.136.80:9200,http://10.50.136.81:9200,http://10.50.136.82:9200,http://10.50.136.83:9200,http://10.50.136.84:9200"/>
      <add name="newstage" connectionString="http://10.147.36.11:9200,http://10.147.36.12:9200,http://10.147.36.13:9200"/>

    </connectionStrings>

    <userSettings>
        <ElasticSearchManager.Properties.Settings>
            <setting name="LastConnection" serializeAs="String">
                <value/>
            </setting>
            <setting name="SplitterDistance" serializeAs="String">
                <value>330</value>
            </setting>
        </ElasticSearchManager.Properties.Settings>
    </userSettings>
  
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>  
</configuration>
