<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ElasticSearchManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  
    <appSettings>
      <someSetting>foo</someSetting>
    </appSettings>
  
    <connectionStrings>
      <add name="prod" connectionString="http://10.147.21.106:9200;userid=;password="/>
      <add name="dev" connectionString="http://rw-es-oc2-d01:9200;userid=;password=" />
    </connectionStrings>

    <userSettings>
        <ElasticSearchManager.Properties.Settings>
            <setting name="LastConnection" serializeAs="String">
                <value />
            </setting>
            <setting name="SplitterDistance" serializeAs="String">
                <value>330</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </ElasticSearchManager.Properties.Settings>
    </userSettings>
  
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>  
</configuration>
